* {
  box-sizing: border-box;
}

:root {
  --navbar-height: 64px;
  --page-gap: 20px;
  --page-gap-mobile: 12px;
}

@media (max-width: 402px) {
  :root {
    --navbar-height: 56px;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff8ef;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.temp-page {
  padding-top: 120px;
  text-align: center;
}
