* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff8ef;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.temp-page {
  padding-top: 120px;
  text-align: center;
}
